
<center>
  <h1>GeneratronUniversity</h1>
    engineered with<br>
    <img src="/assets/generatron.png" height="100"/>
     <div class="footer">
        <div class="container">
        	        	<div><%= link_to "Period", periods_path %></div>
        	        	<div><%= link_to "Teacher", teachers_path %></div>
        	        	<div><%= link_to "Course", courses_path %></div>
        	        	<div><%= link_to "Student", students_path %></div>
        	        	<div><%= link_to "Enrollment", enrollments_path %></div>
        	            <div>Copyright NGEOSONE LLC 2015</div>
        </div>
    </div>
</center>
