<!-- 
Copyright (c) 2016 NgeosOne LLC
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

   
 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), 
 to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.

Engineered using http://www.generatron.com/

[GENERATRON]
Generator :   System Templates
Filename:     course.html
Description:  Ionic Form
Project:      GeneratronUniversity
Template: /ionic-1.6.1/forms/form.partial2.vm
 -->
<ion-view title="Course">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Course</div>
            <div class="item item-body">
                <form class="list">
                    <!-- Text input for code Type: String  Native Type: String-->
                    <label class="item item-input" name="code">
                        <span class="input-label">Code</span>
                        <input id="code" name="code" type="text" placeholder="Code" ng-model="course.code">
                        <div id="codeError" class="error"></div>
                    </label>
                    <!-- Text input for credits Type: Integer  Native Type: Integer-->
                    <label class="item item-input" name="credits">
                        <span class="input-label">Credits</span>
                        <input id="credits" name="credits" type="text" placeholder="Credits" ng-model="course.credits">
                        <div id="creditsError" class="error"></div>
                    </label>
                    <!-- Text input for enrollments Type: Collection  Native Type: Collection-->
                    <!-- Collections  -->
                    <label class="item item-input" name="enrollments">
                        <span class="input-label">Enrollments</span>
                        <ng-include src="enrollments.html"></ng-include>
                    </label>
                    <!-- Text input for id Type: String  Native Type: String-->
                    <!-- Text input for name Type: String  Native Type: String-->
                    <label class="item item-input" name="name">
                        <span class="input-label">Name</span>
                        <input id="name" name="name" type="text" placeholder="Name" ng-model="course.name">
                        <div id="nameError" class="error"></div>
                    </label>
                    <!-- Text input for period Type: Period  Native Type: Period-->
                    <!-- Select Basic -->
                    <label class="control-label" for="period">
                        <span class="input-label">Period</span>

                        <select ng-options="period.id as period.name for period in periods " ng-model="course.period.id">
                            <option value="">--None--</option>
                        </select>
                        <div id="periodError" class="error"></div>

                    </label>
                    <!-- Text input for teacher Type: Teacher  Native Type: Teacher-->
                    <!-- Select Basic -->
                    <label class="control-label" for="teacher">
                        <span class="input-label">Teacher</span>

                        <select ng-options="teacher.id as teacher.firstName for teacher in teachers " ng-model="course.teacher.id">
                            <option value="">--None--</option>
                        </select>
                        <div id="teacherError" class="error"></div>

                    </label>
                    <div class="button-bar">
                        <button class="button button-stable button-block  icon ion-checkmark-circled" ng-click="save()"></button>
                        <button id="cancel" name="cancel" class="button button-stable button-block icon ion-android-cancel" ng-click="cancel()"></button>
                        <button ng-if="edit == true" id="delete" name="delete" class="button button-danger button-block  icon ion-android-delete" ng-click="delete()"></button>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>


<!-- 
[TRIVIA]
It would take a person typing  @ 100.0 cpm, 
approximately 30.04 minutes to type the 3004+ characters in this file.
 -->