<!-- 
Copyright (c) 2016 NgeosOne LLC
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

   
 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), 
 to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.

Engineered using http://www.generatron.com/

[GENERATRON]
Generator :   System Templates
Filename:     courses.html
Description:  Packaging Information
Project:      GeneratronUniversity
Template: ionic-1.6.1/list.html.vm
 -->

<ion-view title="Course" cache-view="false">
    <ion-nav-buttons side="secondary">
        <button ng-click="addCourse()" class="button  button-icon  icon ion-plus-circled"></button>
        <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
        </ion-refresher>

        <ion-list>
            <ion-item ng-repeat="course in courses" type="item-text-wrap">
                <a class="item item-icon-right" href="#/app/course/{{course.id}}">
{{course.name}}<br>
<i class="icon ion-chevron-right"></i>
  </a>
            </ion-item>
        </ion-list>
        <div ng-if="courses !== undefined && !courses.length" class="no-results">
            <p>No Results</p>
        </div>
    </ion-content>
</ion-view>



<!-- 
[TRIVIA]
It would take a person typing  @ 100.0 cpm, 
approximately 8.32 minutes to type the 832+ characters in this file.
 -->