<!-- 
Copyright (c) 2016 NgeosOne LLC
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

   
 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), 
 to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.

Engineered using http://www.generatron.com/

[GENERATRON]
Generator :   System Templates
Filename:     student.html
Description:  Ionic Form
Project:      GeneratronUniversity
Template: /ionic-1.6.1/forms/form.partial2.vm
 -->
<ion-view title="Student">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Student</div>
            <div class="item item-body">
                <form class="list">
                    <!-- Text input for address Type: String  Native Type: String-->
                    <label class="item item-input" name="address">
                        <span class="input-label">Address</span>
                        <input id="address" name="address" type="text" placeholder="Address" ng-model="student.address">
                        <div id="addressError" class="error"></div>
                    </label>
                    <!-- Text input for city Type: String  Native Type: String-->
                    <label class="item item-input" name="city">
                        <span class="input-label">City</span>
                        <input id="city" name="city" type="text" placeholder="City" ng-model="student.city">
                        <div id="cityError" class="error"></div>
                    </label>
                    <!-- Text input for dob Type: Date  Native Type: Date-->
                    <label class="item item-input" name="dob">
                        <span class="input-label">Dob</span>
                        <input id="dob" name="dob" type="text" placeholder="Dob" ng-model="student.dob">
                        <div id="dobError" class="error"></div>
                    </label>
                    <!-- Text input for email Type: String  Native Type: String-->
                    <label class="item item-input" name="email">
                        <span class="input-label">Email</span>
                        <input id="email" name="email" type="text" placeholder="Email" ng-model="student.email">
                        <div id="emailError" class="error"></div>
                    </label>
                    <!-- Text input for enrollments Type: Collection  Native Type: Collection-->
                    <!-- Collections  -->
                    <label class="item item-input" name="enrollments">
                        <span class="input-label">Enrollments</span>
                        <ng-include src="enrollments.html"></ng-include>
                    </label>
                    <!-- Text input for firstName Type: String  Native Type: String-->
                    <label class="item item-input" name="firstName">
                        <span class="input-label">FirstName</span>
                        <input id="firstName" name="firstName" type="text" placeholder="FirstName" ng-model="student.firstName">
                        <div id="firstNameError" class="error"></div>
                    </label>
                    <!-- Text input for id Type: String  Native Type: String-->
                    <!-- Text input for lastName Type: String  Native Type: String-->
                    <label class="item item-input" name="lastName">
                        <span class="input-label">LastName</span>
                        <input id="lastName" name="lastName" type="text" placeholder="LastName" ng-model="student.lastName">
                        <div id="lastNameError" class="error"></div>
                    </label>
                    <!-- Text input for lastupdate Type: timestamp  Native Type: timestamp-->
                    <label class="item item-input" name="lastupdate">
                        <span class="input-label">Lastupdate</span>
                        <input id="lastupdate" name="lastupdate" type="text" placeholder="Lastupdate" ng-model="student.lastupdate">
                        <div id="lastupdateError" class="error"></div>
                    </label>
                    <!-- Text input for mobilePhone Type: String  Native Type: String-->
                    <label class="item item-input" name="mobilePhone">
                        <span class="input-label">MobilePhone</span>
                        <input id="mobilePhone" name="mobilePhone" type="text" placeholder="MobilePhone" ng-model="student.mobilePhone">
                        <div id="mobilePhoneError" class="error"></div>
                    </label>
                    <!-- Text input for phone Type: String  Native Type: String-->
                    <label class="item item-input" name="phone">
                        <span class="input-label">Phone</span>
                        <input id="phone" name="phone" type="text" placeholder="Phone" ng-model="student.phone">
                        <div id="phoneError" class="error"></div>
                    </label>
                    <!-- Text input for pic Type: String  Native Type: String-->
                    <label class="item item-input" name="pic">
                        <span class="input-label">Pic</span>
                        <input id="pic" name="pic" type="text" placeholder="Pic" ng-model="student.pic">
                        <div id="picError" class="error"></div>
                    </label>
                    <!-- Text input for registration Type: timestamp  Native Type: timestamp-->
                    <label class="item item-input" name="registration">
                        <span class="input-label">Registration</span>
                        <input id="registration" name="registration" type="text" placeholder="Registration" ng-model="student.registration">
                        <div id="registrationError" class="error"></div>
                    </label>
                    <!-- Text input for state Type: String  Native Type: String-->
                    <label class="item item-input" name="state">
                        <span class="input-label">State</span>
                        <input id="state" name="state" type="text" placeholder="State" ng-model="student.state">
                        <div id="stateError" class="error"></div>
                    </label>
                    <!-- Text input for zip Type: String  Native Type: String-->
                    <label class="item item-input" name="zip">
                        <span class="input-label">Zip</span>
                        <input id="zip" name="zip" type="text" placeholder="Zip" ng-model="student.zip">
                        <div id="zipError" class="error"></div>
                    </label>
                    <div class="button-bar">
                        <button class="button button-stable button-block  icon ion-checkmark-circled" ng-click="save()"></button>
                        <button id="cancel" name="cancel" class="button button-stable button-block icon ion-android-cancel" ng-click="cancel()"></button>
                        <button ng-if="edit == true" id="delete" name="delete" class="button button-danger button-block  icon ion-android-delete" ng-click="delete()"></button>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>


<!-- 
[TRIVIA]
It would take a person typing  @ 100.0 cpm, 
approximately 55.29 minutes to type the 5529+ characters in this file.
 -->