<!-- 
Copyright (c) 2015 NgeosOne LLC
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

   
 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), 
 to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.

Engineered using http://www.generatron.com/

[GENERATRON]
Generator :   System Templates
Filename:     course.form.html
Description:  Creates a form partial, assumes bootstrap is installed, create selects for foreign keys, still needs to implement one to many, checkboxes, images, file uploads
Project:      GeneratronUniversity
Template: /yeoman-angular/forms/form.partial.vm
 -->
<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-group">
                <label class="col-md-4 control-label" for="create"></label>
                <div class="col-md-8">
                    <button id="create" name="create" class="btn btn-success" ng-click="save()">Save</button>
                    <button ng-if="edit == true" id="delete" name="delete" class="btn btn-danger" ng-click="delete()">Delete</button>
                    <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <fieldset>
                <!-- Form Name -->
                <legend>Course</legend>



                <!-- Text input for code Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="code">Code* </label>
                    <div class="controls">
                        <input id="code" name="code" type="text" placeholder="Code" ng-model="course.code" class="input-xlarge" required>
                        <div id="codeError" class="error"></div>
                    </div>
                </div>


                <!-- Text input for credits Type: Integer  Native Type: Integer-->
                <div class="control-group">
                    <label class="control-label" for="credits">Credits* </label>
                    <div class="controls">
                        <input id="credits" name="credits" type="text" placeholder="Credits" ng-model="course.credits" class="input-xlarge" required>
                        <div id="creditsError" class="error"></div>
                    </div>
                </div>
                <!-- NO UI generated enrollments Type: Collection  ShowInForm:false-->
                <!-- NO UI generated id Type: String  ShowInForm:false-->


                <!-- Text input for name Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="name">Name* </label>
                    <div class="controls">
                        <input id="name" name="name" type="text" placeholder="Name" ng-model="course.name" class="input-xlarge" required>
                        <div id="nameError" class="error"></div>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="control-group">
                    <label class="control-label" for="period">Period</label>
                    <div class="controls">
                        <!-- .name is hardcoded change to what you need -->
                        <select ng-options="period.id as period.name for period in periods " ng-model="course.period.id">
                            <option value="">--None--</option>
                        </select>
                        <div id="periodError" class="error"></div>
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="control-group">
                    <label class="control-label" for="teacher">Teacher</label>
                    <div class="controls">
                        <!-- .name is hardcoded change to what you need -->
                        <select ng-options="teacher.id as teacher.firstName for teacher in teachers " ng-model="course.teacher.id">
                            <option value="">--None--</option>
                        </select>
                        <div id="teacherError" class="error"></div>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</form>

<!-- 
[TRIVIA]
It would take a person typing  @ 100.0 cpm, 
approximately 29.02 minutes to type the 2902+ characters in this file.
 -->