<!-- 
Copyright (c) 2015 NgeosOne LLC
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

   
 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), 
 to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.

Engineered using http://www.generatron.com/

[GENERATRON]
Generator :   System Templates
Filename:     enrollment.form.html
Description:  Creates a form partial, assumes bootstrap is installed, create selects for foreign keys, still needs to implement one to many, checkboxes, images, file uploads
Project:      GeneratronUniversity
Template: /yeoman-angular/forms/form.partial.vm
 -->
<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-group">
                <label class="col-md-4 control-label" for="create"></label>
                <div class="col-md-8">
                    <button id="create" name="create" class="btn btn-success" ng-click="save()">Save</button>
                    <button ng-if="edit == true" id="delete" name="delete" class="btn btn-danger" ng-click="delete()">Delete</button>
                    <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <fieldset>
                <!-- Form Name -->
                <legend>Enrollment</legend>

                <!-- Select Basic -->
                <div class="control-group">
                    <label class="control-label" for="course">Course</label>
                    <div class="controls">
                        <!-- .name is hardcoded change to what you need -->
                        <select ng-options="course.id as course.name for course in courses " ng-model="enrollment.course.id">
                            <option value="">--None--</option>
                        </select>
                        <div id="courseError" class="error"></div>
                    </div>
                </div>

                <!-- NO UI generated id Type: String  ShowInForm:false-->
                <!-- Select Basic -->
                <div class="control-group">
                    <label class="control-label" for="student">Student</label>
                    <div class="controls">
                        <!-- .name is hardcoded change to what you need -->
                        <select ng-options="student.id as student.firstName for student in students " ng-model="enrollment.student.id">
                            <option value="">--None--</option>
                        </select>
                        <div id="studentError" class="error"></div>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</form>

<!-- 
[TRIVIA]
It would take a person typing  @ 100.0 cpm, 
approximately 17.4 minutes to type the 1740+ characters in this file.
 -->