<!-- 
Copyright (c) 2015 NgeosOne LLC
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

   
 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), 
 to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.

Engineered using http://www.generatron.com/

[GENERATRON]
Generator :   System Templates
Filename:     login.html
Description:  Generates the login form
Project:      GeneratronUniversity
Template: yeoman-angular/login.html.vmg
 -->



<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-group">
                <label class="col-md-4 control-label" for="create"></label>
                <div class="col-md-8">
                    <button id="create" name="create" class="btn btn-success" ng-click="login()">Login</button>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <fieldset>
                <!-- Form Name -->
                <legend>Login</legend>


                <!-- Text input for name Type: string  Native Type: string-->
                <div class="control-group">
                    <label class="control-label" for="identifier">UserName</label>
                    <div class="controls">
                        <input id="identifier" name="identifier" type="text" placeholder="username or email" ng-model="user.identifier" class="input-xlarge">
                    </div>
                </div>


                <!-- Text input for name Type: string  Native Type: string-->
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input id="password" name="password" type="password" placeholder="Password" ng-model="user.password" class="input-xlarge">
                    </div>
                </div>


            </fieldset>
        </div>
    </div>
</form>




<!-- 
[TRIVIA]
It would take a person typing  @ 100.0 cpm, 
approximately 11.42 minutes to type the 1142+ characters in this file.
 -->