<!-- 
Copyright (c) 2015 NgeosOne LLC
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

   
 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), 
 to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.

Engineered using http://www.generatron.com/

[GENERATRON]
Generator :   System Templates
Filename:     teacher.form.html
Description:  Creates a form partial, assumes bootstrap is installed, create selects for foreign keys, still needs to implement one to many, checkboxes, images, file uploads
Project:      GeneratronUniversity
Template: /yeoman-angular/forms/form.partial.vm
 -->
<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-group">
                <label class="col-md-4 control-label" for="create"></label>
                <div class="col-md-8">
                    <button id="create" name="create" class="btn btn-success" ng-click="save()">Save</button>
                    <button ng-if="edit == true" id="delete" name="delete" class="btn btn-danger" ng-click="delete()">Delete</button>
                    <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <fieldset>
                <!-- Form Name -->
                <legend>Teacher</legend>



                <!-- Text input for address Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="address">Address* </label>
                    <div class="controls">
                        <input id="address" name="address" type="text" placeholder="Address" ng-model="teacher.address" class="input-xlarge" required>
                        <div id="addressError" class="error"></div>
                    </div>
                </div>


                <!-- Text input for city Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="city">City* </label>
                    <div class="controls">
                        <input id="city" name="city" type="text" placeholder="City" ng-model="teacher.city" class="input-xlarge" required>
                        <div id="cityError" class="error"></div>
                    </div>
                </div>
                <!-- NO UI generated courses Type: Collection  ShowInForm:false-->


                <!-- Text input for email Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="email">Email* </label>
                    <div class="controls">
                        <input id="email" name="email" type="text" placeholder="Email" ng-model="teacher.email" class="input-xlarge" required>
                        <div id="emailError" class="error"></div>
                    </div>
                </div>


                <!-- Text input for firstName Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="firstName">FirstName* </label>
                    <div class="controls">
                        <input id="firstName" name="firstName" type="text" placeholder="FirstName" ng-model="teacher.firstName" class="input-xlarge" required>
                        <div id="firstNameError" class="error"></div>
                    </div>
                </div>
                <!-- NO UI generated id Type: String  ShowInForm:false-->


                <!-- Text input for lastName Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="lastName">LastName* </label>
                    <div class="controls">
                        <input id="lastName" name="lastName" type="text" placeholder="LastName" ng-model="teacher.lastName" class="input-xlarge" required>
                        <div id="lastNameError" class="error"></div>
                    </div>
                </div>


                <!-- Text input for mobilePhone Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="mobilePhone">MobilePhone* </label>
                    <div class="controls">
                        <input id="mobilePhone" name="mobilePhone" type="text" placeholder="MobilePhone" ng-model="teacher.mobilePhone" class="input-xlarge" required>
                        <div id="mobilePhoneError" class="error"></div>
                    </div>
                </div>


                <!-- Text input for phone Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="phone">Phone* </label>
                    <div class="controls">
                        <input id="phone" name="phone" type="text" placeholder="Phone" ng-model="teacher.phone" class="input-xlarge" required>
                        <div id="phoneError" class="error"></div>
                    </div>
                </div>


                <!-- Text input for pic Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="pic">Pic* </label>
                    <div class="controls">
                        <input id="pic" name="pic" type="text" placeholder="Pic" ng-model="teacher.pic" class="input-xlarge" required>
                        <div id="picError" class="error"></div>
                    </div>
                </div>


                <!-- Text input for state Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="state">State* </label>
                    <div class="controls">
                        <input id="state" name="state" type="text" placeholder="State" ng-model="teacher.state" class="input-xlarge" required>
                        <div id="stateError" class="error"></div>
                    </div>
                </div>


                <!-- Text input for title Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="title">Title* </label>
                    <div class="controls">
                        <input id="title" name="title" type="text" placeholder="Title" ng-model="teacher.title" class="input-xlarge" required>
                        <div id="titleError" class="error"></div>
                    </div>
                </div>


                <!-- Text input for zip Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="zip">Zip* </label>
                    <div class="controls">
                        <input id="zip" name="zip" type="text" placeholder="Zip" ng-model="teacher.zip" class="input-xlarge" required>
                        <div id="zipError" class="error"></div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>

<!-- 
[TRIVIA]
It would take a person typing  @ 100.0 cpm, 
approximately 49.45 minutes to type the 4945+ characters in this file.
 -->