<!-- 
Copyright (c) 2015 NgeosOne LLC
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

   
 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), 
 to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.

Engineered using http://www.generatron.com/

[GENERATRON]
Generator :   System Templates
Filename:     index.html
Description:  Base Index.html
Project:      GeneratronUniversity
Template: yeoman-angular/index2.html.vmg
 -->

<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>GeneratronUniversity</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app/..) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" />
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="GeneratronUniversity">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#/">GeneratronUniversity</a>
                </div>

                <div class="collapse navbar-collapse" id="js-navbar-collapse">

                    <!--<ul class="nav navbar-nav" ng-if="authenticated">-->
                    <ul class="nav navbar-nav">
                        <!--<li class="active"><a href="#/">Home</a></li>-->

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tables <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/periods">Periods</a>
                                </li>
                                <li><a href="#/teachers">Teachers</a>
                                </li>
                                <li><a href="#/courses">Courses</a>
                                </li>
                                <li><a href="#/students">Students</a>
                                </li>
                                <li><a href="#/enrollments">Enrollments</a>
                                </li>
                            </ul>
                        </li>
                        <li ng-click="logout()"><a ng-href="#">Logout</a>
                        </li>
                    </ul>
                    <!--
            <form class="navbar-form navbar-right" ng-if="!authenticated">

<div class="form-group">  
    <input id="identifier" name="identifier" type="text" placeholder="Username or email" ng-model="user.identifier" class="input-xlarge">
    <input id="password" name="password" type="password" placeholder="Password" ng-model="user.password" class="input-xlarge">
</div>

<button id="create" name="create" class="btn btn-success" ng-click="login()">Login</button>
</form>-->
                </div>


            </div>
        </div>
    </div>

    <div class="container">
        <div ng-view=""></div>
    </div>

    <div class="footer">
        <div class="container">
            <!--<p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>-->
        </div>
    </div>

    <!-- build:js(app/..) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/dateformat/dist/dateformat.js"></script>
    <script src="bower_components/kendo-ui/js/kendo.ui.core.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <!-- endbower -->
    <script src="bower_components/kendo-ui/js/kendo.fx.min.js"></script>
    <script src="bower_components/kendo-ui/js/kendo.calendar.min.js"></script>
    <script src="bower_components/kendo-ui/js/kendo.popup.min.js"></script>
    <script src="bower_components/kendo-ui/js/kendo.datepicker.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- endbuild -->


    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="config/config.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/util.js"></script>
    <script src="scripts/GeneratronUniversityWebServiceModule.js"></script>
    <script src="scripts/GeneratronUniversityControllersModule.js"></script>
    <script src="scripts/controllers/MainCtrl.js"></script>
    <script src="scripts/services/UploadService.js"></script>
    <script src="scripts/services/PeriodWebService.js"></script>
    <script src="scripts/controllers/PeriodAddCtrl.js"></script>
    <script src="scripts/controllers/PeriodsCtrl.js"></script>
    <script src="scripts/controllers/PeriodEditCtrl.js"></script>
    <script src="scripts/services/TeacherWebService.js"></script>
    <script src="scripts/controllers/TeacherAddCtrl.js"></script>
    <script src="scripts/controllers/TeachersCtrl.js"></script>
    <script src="scripts/controllers/TeacherEditCtrl.js"></script>
    <script src="scripts/services/CourseWebService.js"></script>
    <script src="scripts/controllers/CourseAddCtrl.js"></script>
    <script src="scripts/controllers/CoursesCtrl.js"></script>
    <script src="scripts/controllers/CourseEditCtrl.js"></script>
    <script src="scripts/services/StudentWebService.js"></script>
    <script src="scripts/controllers/StudentAddCtrl.js"></script>
    <script src="scripts/controllers/StudentsCtrl.js"></script>
    <script src="scripts/controllers/StudentEditCtrl.js"></script>
    <script src="scripts/services/EnrollmentWebService.js"></script>
    <script src="scripts/controllers/EnrollmentAddCtrl.js"></script>
    <script src="scripts/controllers/EnrollmentsCtrl.js"></script>
    <script src="scripts/controllers/EnrollmentEditCtrl.js"></script>
    <!--<script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/login.js"></script>-->
    <!-- endbuild -->
</body>

</html>










<!-- 
[TRIVIA]
It would take a person typing  @ 100.0 cpm, 
approximately 71.82 minutes to type the 7182+ characters in this file.
 -->